h1 {
    background: linear-gradient(to bottom, #df0144, #d76dbc, #f8f8f7);
    background: -webkit-linear-gradient(to bottom, #df0144, #d76dbc, #f8f8f7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 }